*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
nav{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	box-sizing: border-box;
	background-color: transparent;
	height: 90px;
	padding: 30px;
	z-index: 99;
	border-bottom: 1px soild rgba(30,35,42,0.06);
	box-shadow: 0 1px 3px 0 rgba(0,34,77,0.05);
}
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 1.5rem;
}
a{
	color: #13a3d3;
	text-decoration: none;
	background-color: transparent;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}
svg{
	overflow: hidden;
	vertical-align: middle;
}
div{
	display: block;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button {
    appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    border-radius: 2px;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
ol {
    list-style-type: decimal;
}
ol, ul, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}
.carousel-slide ol, ul, dl {
    margin-top: 0;
    margin-bottom: 5rem;
}
img {
    vertical-align: middle;
    border-style: none;
}
table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.navheadcontainer{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.logo_3I0Go{
	fill: #fff;
}
.pc-h{
	display: flex;
	min-width: 0;
}
.pc-h > * {
	flex: none;
}
.menu{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	align-content: center;
}
.headerLink{
	color: #fff;
	font-size: 16px;
	margin: 0 8px;
	padding: 8px 4px;
}
.logo-hot{
	display: inline !important;
	margin-left: 8px !important;
}
.btn-dropdown{
	position: relative;
	display: inline-block;
	margin-bottom: 8px !important;
	margin-top: 8px !important;
	margin-left: 4px !important;
	margin-right: 4px !important;
}
.userbtndrop{
	margin-left: 25px;
	font-size: 16px;
	height: 40px;
	cursor: pointer;
	color: white;
	border-color: white;
	padding: 8px 16px;
}
.btn {
    display: inline-block;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 2px solid #fff;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-outline-dark{
    background-color: transparent;
    background-image: none;
}
.btn-outline-dark:hover {
    color: #fff;
    background-color: #373a3c;
    border-color: #373a3c;
}
.dropdown-menu{
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 10rem;
	padding: 0.5rem 0;
	font-size: 0.875rem;
	color: #212529;
	text-align: left;
	list-style: none;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 0.125rem;
}
.btn-dropdown:hover .dropdown-menu{
	display: block;
}
.dropdown-item{
	display: block;
	width: 100%;
	padding: 0.25rem 1.5rem;
	clear: both;
	font-weight: 500;
	color: #212529;
	text-align: inherit;
	white-space: nowrap;
	background-color: transparent;
	border: 0;
}
.dropdown-item:hover{
	background: #aaa;
}
.btn-dropdown-item{
	display: block;
	width: 100%;
	padding: 0.25rem 1.5rem;
	clear: both;
	font-weight: 500;
	color: #212529;
	text-align: inherit;
	white-space: nowrap;
	background-color: transparent;
	border: 0;
}
.btn-dropdown-item:hover{
	background: #aaa;
}
.homePage{
	position: absolute;
	top: 0;
	margin: auto;
	width: 100%;
	height: 100%;
	background: #f4f4f4;
}
.carousel-slide{
	z-index: 1;
	overflow: hidden;
	position: relative;
}
.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}
.carousel-indicators li {
    position: relative;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
}
.carousel-indicators .active {
    background-color: #fff;
}
.carousel-indicators li::before {
    position: absolute;
    top: -10px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 10px;
    content: "";
}
.carousel-indicators li::after {
    position: absolute;
    bottom: -10px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 10px;
    content: "";
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.carousel-inner .active {
    display: flex !important;
}
.bannerContainer{
	box-sizing: border-box;
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-content: center;
}
.bannerContent{
	max-width: 960px;
	width: 70%;
	color: white;
	position: absolute;
	top: 120px;
	align-items: center;
}
.banner_1{
    position: relative;
    display: none;
    align-items: center;
    width: 100%;
    backface-visibility: hidden;
    perspective: 1000px;
	align-items: unset !important;
	background: url(../img/1ff37e028804a40786ff2441bd27a0cf.jpg);
	background-size: cover;
	height: 520px
}
.bannerButton1{
    width: 190px;
    height: 45px;
    font-size: 18px;
    background: white;
    color: #18b7f0;
    border-radius: 2px;
    border-color: unset !important;
    padding: 0;
    margin-top: 16px;
}
.bannerButton1:hover{
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.banner_2{
	position: relative;
	display: none;
    width: 100% !important;
    height: 450px !important;
    background-size: unset !important;
	background: url(../img/daa8b0dd9763725d1926ee83fe20e8dd.jpg);
	background-size: cover;
	backface-visibility: hidden;
	perspective: 1000px;
	height: 520px
}
.bannerTitle2{
	font-size: 46px;
}
.bannerContainer2{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-content: center;
}
.bannerContainer2 .bannerContent2 {
	max-width: 960px;
	width: 70%;
	color: white;
	position: absolute;
	top: 120px;
	align-items: center;
}
.bannerButton2{
    width: 190px;
    height: 45px;
    font-size: 18px;
    background: white;
    color: #f8831b;
    border-radius: 2px;
    border-color: unset !important;
    padding: 0;
    margin-top: 16px;
}
.bannerButton2:hover{
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: 0.5;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
	cursor: pointer;
}
.carousel-control-next-icon {
    background: url(../img/caret-right.png);
}
.carousel-control-prev-icon {
    background-image: url(../img/caret-left.png);
}
.carousel-control-prev {
    left: 0;
}
.carousel-control-next {
    right: 0;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
.bannerButtonWrapper{
    max-width: 960px;
    height: 150px;
    position: relative;
    margin: -100px auto 20px;
    z-index: 2;
    top: -87px;
}
.pc-v {
    display: flex;
    min-width: 0;
    flex-direction: column;
}
.bannerButtonGroup{
    position: relative;
    height: 150px;
    background: white;
    border-radius: 4px;
    box-shadow: 0 9px 20px rgba(0, 0, 0, 0.2);
}
.bannerButtonGroup a {
    text-decoration: none;
    font-size: 14px;
    color: #7b7b8c;
}
.bannerButtonDiv {
    width: 24%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.icon_2Rmmi {
    width: 30%;
    height: 30%;
}
.headerslider {
    bottom: 53px;
    left: 0;
    overflow: hidden;
    width: 100%;
}
.slidesContainer{
    padding: 0;
    transition: none;
    width: 9999999px;
}
.sliderimg {
    display: inline-block;
    height: 100px;
    width: 570px;
    margin: 0 15px;
	-webkit-text-decoration-skip: objects;
}
.indicatorContainer {
    margin: 0;
    padding: 5px 0;
    text-align: center;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
.indicatorContainer li {
    list-style: none;
}
.indicator {
    background: #dcdcdc;
    border-radius: 8px;
    display: inline-block;
    height: 8px;
    margin: 0 7px;
    cursor: pointer;
    width: 8px;
}
.indicator.active_us {
    background: #aaa;
}
.info {
    background: #202123;
    color: white;
    padding-bottom: 20px;
}
.infoContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    padding-top: 48px;
    margin: auto;
    width: 80%;
    font-size: 12px;
    line-height: 15px;
    flex-wrap: wrap;
}
.infoRow0 {
    display: inline-block;
    margin: 0 12px;
}
.infoRow1 {
    display: inline-block;
    margin: 0 12px;
}
.contactRow{
    display: inline-block;
    min-width: 280px;
    margin: 0 12px;
}
.wechatRow{
    display: inline-block;
    margin: 0 12px;
}
.infoHeader {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 36px;
}
.infoItem{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    height: 65px;
    margin-bottom: 20px;
}
.infoRow0 img {
    height: 45px;
    margin: 10px;
}.infoRow1 img {
    width: 60px;
    margin: 10px;
}
.barcode img {
    max-width: 120px;
    max-height: 120px;
}
.contactRow table td {
    padding: 8px 0;
}
.contactRow table td:nth-child(1) {
    min-width: 75px;
}
.contactRow table td:nth-child(2) {
    min-width: 45px;
}
.contactRow a {
    color: #fff;
}
.footer {
    box-sizing: border-box;
    line-height: 40px;
    width: 100%;
    bottom: 0;
    text-align: center;
    background: inherit;
    font-size: 12px;
    color: #b5b5b5;
}
.footer a {
    margin: 0 3px;
    color: inherit;
}